---
layout: default
---

<div class="home">
  <h1 id="about" class="page-heading">About the project</h1>
  
  {{ content }}

  <br>
  <hr>
  
  <h1 id="posts" class="page-heading">Recent posts</h1>
  <div class="post-list">
    {% for post in site.posts %}
      <div class="post-item">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="post-link"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
